*{
    padding: 0;
    margin: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #e84118;
}

.search_box {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 27px;
    background-color: #2f3640;
    padding: 5px;
    transition: 0.4s;
}

.search_box:hover > .search_txt, .search_txt:focus{
    width: 200px;
    padding-left: 5px;
}

.search_box:hover > .search_btn{
    background-color: white;
}

.search_txt {
    background: none;
    border: none;
    color: white;
    outline: none;
    width: 0;
    transition: 0.4s;
}

.search_btn {
    color: #e84118;
    height: 18px;
    width: 18px;
    padding: 10px;
    border-radius: 27px;
    transition: 0.4s;
}